/* General */

body {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
	padding: 5%;
}
a {
	color: inherit;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	transition: color 300ms;
}
a:hover {
	color: #E00;
}
header a {
	text-decoration: none;
}

#main {
	border-top: 3px solid black;
}

pre, code {
	font-family: monospace;
}

code {
	border: 1px solid rgba(0,0,0,.125);
	background: rgba(0,0,0,.025);
	border-radius: 5px;
	padding: 1px 2px;
}

pre code {
	border: none;
	background: none;
	padding: 0;
}

#secondary h2 {
	font-size: 1.25em;
	border-top: 3px solid black;
	border-bottom: 1px solid rgba(0,0,0,.125);
	margin-top: 2em;
}

.highlight {
	border: 1px solid rgba(0,0,0,.125);
	background: rgba(0,0,0,.025);
	padding: 0 1em;
	border-radius: 5px;
	margin: 1em 0;
}

/* Bigger Screens */

@media screen and (min-width: 55em) {
	#main {
		float: left;
		width: 65%;
	}
	#secondary {
		float: right;
		width: 30%;
	}
	#secondary h2:first-child {
		margin-top: 0;
	}
}