---
sidebar: |
  Useful Links
  ------------
  
  [Chat Room](http://tlk.io/fewd19)
  [Schoology](http://classroom.generalassemb.ly/course/65186631/materials)
---
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>General Assembly • Front-End Web Development 19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/charter/stylesheet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
	<script>window.onload = function(){ document.body.className += " loaded"; }</script>
</head>
<body>

<header>
	<h1>
		<a href="{{ site.baseurl }}/">FEWD 19</a>
		<small>@ <a href="http://generalassemb.ly/">GA</a></small>
	</h1>
</header>

<section id="main">
{{ content }}
</section>

<nav id="main-nav">
	<ul>
		<li><a href="{{ site.baseurl }}/about/">About the Course</a></li>
		<li><a href="{{ site.baseurl }}/contact/">Get in Touch</a></li>
	</ul>
</nav>

<aside id="secondary">
	
	<h2>On the Agenda</h2>
	<ul>
	{% for post in site.categories.agenda %}
		<li>
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | textilize | strip_html }}</a>
			<small>{{ post.date | date: "%b. %-d, %Y" }}</small>
		</li>
	{% endfor %}
	</ul>
	
	<h2>Homework Assignments</h2>
	<ul>
	{% for post in site.categories.homework %}
		<li>
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | textilize | strip_html }}</a>
			<small>due {{ post.date | date: "%b. %-d, %Y" }}</small>
		</li>
	{% endfor %}
	</ul>
	
	{{ page.sidebar | markdownify }}

</aside>

<footer></footer>

</body>
</html>
